@model MainBlog.ViewModels.DiscussionPostViewModel
﻿﻿@using Microsoft.AspNetCore.Identity;
@using MainBlog.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Ваш Блог";
}
<div>
    <div>
        <h1>Вы смотрите пост "@Model.PostVM.Title" @Model.PostVM.Id</h1>
        <h3>Автор @Model.PostVM.AuthorOfPost</h3>
    </div>
    <div id="textPost">
        @Model.PostVM.Text
    </div>
    <div>
    </div>
    <div style="position:relative;">
        @using (Html.BeginForm("SetComment", "Posts", new {  Id = Model.PostVM.Id }, FormMethod.Post))
        {
            <textarea asp-for="CommentVM.CommentText"></textarea>
            <button id="SetCommentButton" type="submit">Оставить комментарий</button>
            @Html.HiddenFor(model => model.PostVM.Id)
            @Html.HiddenFor(model => model.CommentVM.CommentText)
        }
        @*         <form style="display: inline-grid;" method="post" asp-controller="Posts" asp-action="SetComment">
            <textarea asp-for="CommentVM.CommentText"></textarea>

            @Html.HiddenFor(model => model.PostVM.Id)
            @Html.HiddenFor(model => model.CommentVM.CommentText)

            <button id="SetCommentButton" type="submit">Оставить комментарий</button>
        </form> *@
    </div>
    <div>
        <span>Комментарии</span>
    </div>
    @foreach (var comment in Model.PostVM.CommentsOfPost)
    {
        <div>
            @* <div>@comment.User.Id</div> **************************************** почему null? *@ 
            <div>@comment.CommentPublicationTime</div>
            <div>
                @comment.CommentText
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div>
                    <form method="post" asp-action="" asp-controller="">
                        <button type="submit">Редактировать</button>
                    </form>
                </div>
            }
        </div>
    }
</div>


@* ОРИГИНАЛ
    @model MainBlog.ViewModels.DiscussionPostViewModel
﻿﻿@using Microsoft.AspNetCore.Identity;
@using MainBlog.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Ваш Блог";
}
<div>
    <div>
        <h1>Вы смотрите пост "@Model.Title" @Model.Id</h1>
        <h3>Автор @Model.AuthorOfPost</h3>
    </div>
    <div id="textPost">
        @Model.Text
    </div>
    <div>
    </div>
    <div style="position:relative;">
        <form style="display: inline-grid;" method="post" asp-controller="Posts" asp-action="SetComment">
            <textarea asp-for="CommentText"></textarea>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.CommentText)

            <button id="SetCommentButton" type="submit">Комментировать</button>
        </form>
    </div>
    <div>
        <span>Комментарии</span>
    </div>
    @foreach (var comment in Model.UsersComments)
    {
        <div>
            <div>@comment.User.UserName</div>
            <div>@comment.CommentPublicationTime</div>
            <div>
                @comment.CommentText
            </div>
            @if (User.IsInRole("Administrator"))
            {
                <div>
                    <form method="post" asp-action="" asp-controller="">
                        <button type="submit">Редактировать</button>
                    </form>
                </div>
            }
        </div>
    }
</div> *@


