@model MainBlog.ViewModels.UserBlogViewModel
﻿﻿@using Microsoft.AspNetCore.Identity;
@using MainBlog.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Ваш Блог";
    // Layout = null;
    //string registeredUsername = Context.Request.Cookies["RegisteredUsername"];

}
@* @if (SignInManager.IsSignedIn(User))
{
}
else
{
    <form method="post" asp-controller="AuthReg" asp-action="Logout">
        <input class="enter_submit" type="submit" value="Выход" />
    </form>

} *@
<H1>Страница пользователя @User.Identity.Name</H1>

<div style="width: 100%; height: 100%; background-color: darkred">
    <div id="PostField" style="background-color: steelblue">
        <form method="post" asp-controller="Posts" asp-action="UserBlog">
            @Html.TextAreaFor(m => m.Title, new { @class = "userPostsTextArea" })
            @Html.TextAreaFor(m => m.Text, new { @class = "userPostsTextArea" })
            <span style="color:bisque">Введите незвание тегов через запятую в формате "#Название тега"</span>
            @Html.TextAreaFor(m => m.tegs, new { @class = "userPostsTextArea", Value = "Начальное значение" })
            <button type="submit">Опубликовать</button>
        </form>

    </div>
    <div id="allUserPosts">
    </div>
</div>
<div style="position: relative; display:inline-block;">
    <div style="color: bisque; background-color:steelblue; text-align: center;">Все Ваши посты</div>

    @foreach (var item in Model.UserPosts)
    {
        <div style="color: bisque; background-color:steelblue">
            здесь будут теги
        </div>
        <div style="background-color:bisque;"> @item.Text</div>
        <div style="color: bisque; background-color:steelblue">
            Дата публикации: @item.PublicationDate
        </div>
        <hr />
    }
    @*                 {
    @Html.DisplayNameFor(model => model.Tegs.FirstOrDefault())
    }  *@
</div>
@*         @foreach (var item in Model)
    {
    <tr>
    <td>
    @Html.DisplayFor(model => item.PublicationDate)
    </td>
    <td>
    @Html.DisplayFor(model => item.Text)
    </td>
    <td>
    <button asp-controller="Account" asp-action="EditUser">Сохранить</button>
    </td>
    </tr>
    } *@



