@model IEnumerable<MainBlog.ViewModels.AllPostsViewModel>
@using MainBlog.ViewModels
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> SignInManager;
@inject UserManager<User> UserManager;
@{
    ViewData["Title"] = "Все посты";
    ViewBag.Title = "AllPostsPage"; //добавляет Hash из контроллера AllPostsPage для вывода всех Teg
    int i = 1;
}
<form>
    <div>
        <input id="searchPostsByTeg" value="Поиск по тегу" />
        <input id="searchPostsByTegButton" type="submit" value="Найти" />
    </div>
</form>
<div style="background-color: rgba(0,0,0,0.5);">
    @foreach (var item in ViewBag.List)
    {
        <div style="color:orange; display:inline-flex;">
            <a asp-controller="Blog" asp-action="ShowPostsByTeg" asp-route-tegTitle="@item">@item</a>
            @{
                i++;
            }
        </div>
    }
</div>
<div style="height: 80vh; margin: 0 auto; overflow-y: auto;">
    @{
        foreach (var post in Model)
        {
            <div id="postBlock" style="cursor:pointer;">
                <div>
                    @Html.DisplayFor(p => post.Author)
                </div>
                <div>
                    @Html.DisplayFor(p => post.Title)
                </div>
                <div>
                    @Html.DisplayFor(p => post.PublicationTime)
                </div>
                <div id="textBlock">
                    @Html.DisplayFor(p => post.Text)
                </div>
                <div style="text-align: right;">
                    <a style="" href="@Url.Action("PostDiscussion", "Posts", new {id = post.Id})">Перейти к обсуждению</a>
                </div>
                <div class="buttonsLine">
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <form method="get" asp-controller="Posts" asp-action="EditPost">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <button class="AccountButton" type="submit">Редактировать статью</button>
                        </form>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <form method="post" asp-controller="Posts" asp-action="DeletePostByAdmin">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <button class="AccountButton" type="submit">Удалить статью</button>
                        </form>
                    }
                </div>
            </div>
        }
    }

</div>

